/* .circle {
  border: 5px solid;
  border-radius: 100%;
  border-image: linear-gradient(45deg, gold, deeppink) 1;
  clip-path: circle(50%);
  animation: huerotate 6s infinite linear;
  filter: hue-rotate(360deg);
}

@keyframes huerotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
} */

.card.post {
  border-radius: 40px !important;
}

.post .content > img {
  border-radius: 40px 0px 40px 40px !important;
}

.post .content {
  border-top: 0px !important;
}

.post .ui.corner.label:after {
  border-right-color: var(--point-color-red);
}

.post .label i.icon:before {
  color: white;
}
