.detail {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 20rem;
}
.detail-wrapper {
  background-color: bisque;
  border: 3px dashed black;
  border-radius: 25px;
}
