.map {
    margin: 0px;
    width:100%;
    height:100%;
    position:absolute;
}

.myLocationBtn {
    display:flex;
    position: absolute;
    right:3%;
    bottom:2rem;
    height: 3em;
    width: 3em;
    z-index: 2;
}

.findCafeBtn {
    border-radius: 10px;
    display: flex;
    position: absolute;
    left: 30%;
    bottom: 5rem;
    height: 2em;
    width: 15rem;
    z-index: 2;
}

/* .filterCorousel {
    font-size: auto;
} */
@media screen and (max-width: 767px) {
    .findCafeBtn {
        border-radius: 10px;
        display: flex;
        position: absolute;
        left: 25%;
        bottom: 5rem;
        height: 2em;
        width: 15rem;
        z-index: 2;
    }
  }
  