@media only screen and (min-width: 1200px) {
  .ui.container {
    width: auto !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ui.container {
    width: auto !important;
  }
}

body {
  --point-color-red: #ff695e;
  --background-color: rgb(250, 232, 226);
  --custom-beige: rgb(255 247 216 / 50%);
  --custom-mint: #58d9b4;
  --custom-pink: rgb(255, 168, 168);
  background: var(--background-color);

}

* {
  /* font-family: 'GangwonEdu_OTFBoldA' !important; */
}

.link.item p {
  color: black;
  font-weight: 500;
}

.link.item svg {
  margin-right: 8%;
}

.ui.secondary.vertical.menu > .link.item {
  border-radius: 3rem !important;
  padding-left: 2rem !important;
}

.ui.secondary.vertical.menu > .link.item:hover svg {
  transform: scale(1.1);
}

@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GangwonEduSaeeum_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.side-bar * {
  font-family: "IM_Hyemin-Bold" !important;
}
