@media (min-width: 992px) and (max-width: 1199px) {
  .side-bar .logo-title,
  .side-bar p {
    display: none;
    white-space: nowrap;
  }

  #side-col {
    width: 120px !important;
    padding: 0 !important;
  }
  #side-col .side-bar .menu {
    /* padding: 0 !important; */
    margin-inline: 0 !important;
  }
}

.side-bar * {
}

a #link{
  width: 100%;
  height: 100%;
  padding: 0;
}